<h1 class='header'>Log in</h1>

<p><%= notice %></p>

<%= form_with(url: sessions_path, class: 'invisible-wrapper-column') do |form| %>
    <%= form.label "Email" %>
    <%= form.text_field :email, class: 'text-field-medium' %>
    <%= form.label "Password" %>
    <%= form.password_field :password, class: 'text-field-medium' %>
    <%= form.submit "Log in", class: 'button'%>
<% end %>
