<%= form_with(model: user, local: true, class: 'invisible-wrapper-column') do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label "Name" %>
  <%= form.text_field :name, class: 'text-field-medium' %>
  <br>
  <%= form.label "Email address" %>
  <%= form.text_field :email, class: 'text-field-medium'  %>
  <br>
  <%= form.label "Password" %>
  <%= form.text_field :password, class: 'text-field-medium'  %>
  <br>
  <%= form.label "Password confirmation" %>
  <%= form.text_field :password_confirmation, class: 'text-field-medium'  %>
  <br>
  <div class="actions">
    <%= form.submit class: 'button' %>
  </div>
<% end %>
