<p id="notice"><%= notice %></p>

<h1 class='header'><%= @user.name %></h1>

<% if current_user_id == @user.id %>
    <div class='invisible-wrapper'>
        <%= link_to "Change profile information", edit_user_path(@user), class: 'button'%>
    </div>
<% end %>

<% if current_user_is_band_leader? && current_user.id != @user.id %>
    <div class='invite-wrapper'>
        <%= form_with(url: 'bands/band_members/new', method: 'post') do |form| %>
            <%= form.hidden_field :user_id, value: @user.id %>
            <%= form.label "Invite to:" %> 
            <br>
            <%= form.collection_select(:band_id, current_user.lead_bands, :id, :name) %>
            <br>
            <%= form.submit "Invite", class: 'button' %>
        <% end %>
    </div>
<% end %>

<p><%= @user.bio %></p>
<% if current_user_id == @user.id %>
    <div class='invisible-wrapper'>
        <%= link_to "Edit bio", bio_path(@user), class: 'button'%>
    </div>
<% end %>

<br>

<p class='centered'>Bands in which <%= @user.name %> is a member</p>

<div class='sub-content-wrapper'>
    <% @user.bands.each do |band| %>
        <%= link_to band, class: 'link-card' do%>
            <h3><%= band.name %></h3>
            <h5><%= band.bio %></h5>
        <% end %>
    <% end %>
</div>

<p class='centered'><%= @user.name.possessive %> upcoming gigs.</p>

<div class='sub-content-wrapper'>
    <% @user.gigs.each do |gig| %>
        <% if gig.time > Time.now %>
            <%= link_to gig, class: 'link-card' do %>
                <h3><%= gig.time.to_formatted_s(:long_ordinal) %> at <%= gig.venue.name %></h3>
                <h5>Appearing as a member of <%= gig.band.name %>.</h5>
                <h5><%= gig.duration %> minutes </h5>
                <p><%= gig.venue_message %></p>
            <% end %>
        <% end %>
    <% end %>
</div>