<%= form_with(model: venue, local: true, class: 'invisible-wrapper-column') do |form| %>
  <% if venue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(venue.errors.count, "error") %> prohibited this venue from being saved:</h2>

      <ul>
        <% venue.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label "Name" %>
  <%= form.text_field :name, class: 'text-field-medium' %>

  <%= form.label "Email address" %>
  <%= form.text_field :email, class: 'text-field-medium' %>
  
  <%= form.label "Physical address" %>
  <%= form.text_field :address, class: 'text-field-medium' %>

  <%= form.label "City" %>
  <%= form.text_field :city, class: 'text-field-medium' %>

  <%= form.label "State" %>
  <%= form.text_field :state, class: 'text-field-medium' %>

  <%= form.label "Password" %>
  <%= form.text_field :password, class: 'text-field-medium' %>

  <%= form.label "Password confirmation" %>
  <%= form.text_field :password_confirmation, class: 'text-field-medium' %>



  <%= form.submit class: 'button'%>
<% end %>
