<%= form_with(model: venue, local: true) do |form| %>
  <% if venue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(venue.errors.count, "error") %> prohibited this venue from being saved:</h2>

      <ul>
        <% venue.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label "Name" %>
  <%= form.text_field :name %>
  <br>
  <%= form.label "Email address" %>
  <%= form.text_field :email %>
  <br>  
  <%= form.label "Physical address" %>
  <%= form.text_field :address %>
  <br>
  <%= form.label "City" %>
  <%= form.text_field :password %>
  <br>
  <%= form.label "State" %>
  <%= form.text_field :password %>
  <br>
  <%= form.label "Password" %>
  <%= form.text_field :password %>
  <br>
  <%= form.label "Password confirmation" %>
  <%= form.text_field :password_confirmation %>
  <br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
