<h1 class='header'>Venues</h1>

<p id="notice"><%= notice %></p>

<% @venues.each do |venue| %>
  <%= link_to venue, class: 'link-card' do%>
    <h3><%= venue.name %></h3>
    <h5><%= venue.address %>, <%= venue.city %>, <%= venue.state %></h5>
    <p><%= venue.description %></p>
  <% end %>
<% end %>
