<p id="notice"><%= notice %></p>

<h1 class='header'><%= @venue.name %></h1>
<% if current_venue_id == @venue.id %>
    <div class='invisible-wrapper'>
        <%= link_to "Change profile information", edit_venue_path(@venue), class: 'button'%>
    </div>
<% end %>
<br>

<%= @venue.description %>
<br>

<% if current_venue_id == @venue.id %>
    <div class='invisible-wrapper'>
        <%= link_to "Edit Description", description_path(@venue), class: 'button' %>
    </div>
<% end %>

