<p id="notice"><%= notice %></p>

<%= @venue.name %>
<br>
<%= @venue.description %>
<%= link_to "Description", description_path(@venue) %>
<br>
<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %>
