<h1 class='header'>Bands</h1>

<p id="notice"><%= notice %></p>

<% if user_is_logged_in? %>
  <div class='invisible-wrapper'>
    <%= button_to 'New Band', new_band_path, class: 'button' %>
  </div>
<% end %>

<% @bands.each do |band| %>
  <%= link_to band, class: 'link-card' do%>
    <h3><%= band.name %></h3>
    <h5><%= band.bio %></h5>
  <% end %>
<% end %>