<p id="notice"><%= notice %></p>

<h1><%= @band.name %></h1>

<div>
    <% @band.band_members.each do |band_member| %>
        <div>
            <%= band_member.user.name %>
        </div>
    <% end %>
</div>

<%= link_to 'Edit', edit_band_path(@band) %> |
<%= link_to 'Back', bands_path %>
