<p id="notice"><%= notice %></p>

<h1><%= @band.name %></h1>

<div>
    <% @band.band_members.each do |band_member| %>
        <div>
            <%= band_member.user.name %>
            <% if current_user_leads_this_band? && @band.leader.id != band_member.user_id %>
                <%= button_to "Remove from band", remove_from_band_path, method: 'delete',
                 params: {user_id: band_member.user_id, band_member_id: band_member.id, band_id: @band.id} %>
            <% end %>
        </div>
    <% end %>
</div>

<% if current_user_is_member_of?(@band.id) && !current_user_leads_this_band? %>
    <%= button_to "Leave this band", leave_band_path, method: 'delete',
     params: {band_id: @band.id} %>
<% end %>

<%= link_to 'Edit', edit_band_path(@band) %> |
<%= link_to 'Back', bands_path %>
