<p id="notice"><%= notice %></p>

<%= form_with(model: gig, local: true, class: 'invisible-wrapper-column') do |form| %>
  <% if gig.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gig.errors.count, "error") %> prohibited this gig from being saved:</h2>

      <ul>
        <% gig.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label "Time" %>
  <%= form.datetime_field :time, min: Date.tomorrow %>
  <br>
  <%= form.label "Duration in minutes" %>
  <%= form.text_field :duration, class: 'text-field' %>
  <br>
  <%= form.label "Comments" %>
  <%= form.text_area :venue_message, class: 'text-area', rows: '10',cols:'80' %>
  <br>
  <div class="actions">
    <%= form.submit class: 'button' %>
  </div>
<% end %>
