<p id="notice"><%= notice %></p>
<div>
<% @gigs.each do |gig| %>
    <div>
        <%= gig.venue.name %>
        <%= gig.venue_message%>
        <% if gig.band_id != nil%>
            <%= gig.band.name %>
            <% if gig.venue_id == current_venue_id && gig.approval == "Pending" %>
                <%= button_to "Accept", accept_gig_path, params: {id: gig.id} %>
                <%= button_to "Decline", decline_gig_path, params: {id: gig.id} %>
            <% end %>
        <% end %>

        <%= link_to "More details", gig %>
    </div>
<% end %>

</div>