<h1 class='header'><%= @header %></h1>
<p id="notice"><%= notice %></p>

<% @gigs.each do |gig| %>
  <%= link_to gig, class: 'link-card' do %>
    <h3><%= gig.time.to_formatted_s(:long_ordinal) %> at <%= gig.venue.name %></h3>
    <h5><%= gig.duration %> minutes </h5>
    <p><%= gig.venue_message %></p>
    <% if gig.band_id != nil%>
      <h5><%= gig.band.name %></h5>
      <% if gig.approval == 'Pending' %>
        <h5 class='pending-message'>This gig is pending, click to accept or deny.</h5>
      <% end%>
    <% end %>
  <% end %>
<% end %>
